<!-- component -->
<div
      class="container mx-auto mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3"
    >
      <div>
        <div class="rounded-lg overflow-hidden">
          <div class="relative overflow-hidden pb-60">
            <img
              class="absolute h-full w-full object-cover object-center"
              src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/5c77d8a62417e4405611bb42_3k-color-1-scaled.jpg"
              alt=""
            />
          </div>
          <div class="relative bg-blue-200">
            <div class="py-10 px-8">
              <h3 class="text-2xl font-bold">Notepad</h3>
              <div class="text-gray-600 text-sm font-medium flex mb-4 mt-2">
                <p>Provided by&nbsp;</p>
                <a
                  href="https://www.ls.graphics/"
                  class="hover:text-black transition duration-300 ease-in-out"
                  >LS Graphics</a
                >
              </div>
              <p class="leading-7">
                High quality notepad mockup in a huge resolution and with
                changeable everything.
              </p>
              <div class="mt-10 flex justify-between items-center">
                <div>
                  <img
                    src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/Ps.svg"
                    alt=""
                    class="w-6"
                  />
                </div>
                <a
                  href="https://collect.criggzdesign.com/index.php/resources/mockups/notepad/"
                  class="flex items-center"
                >
                  <p class="mr-4">Read more</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14.125"
                    height="13.358"
                    viewBox="0 0 14.125 13.358"
                  >
                    <g transform="translate(-3 -3.293)">
                      <path
                        id="Path_7"
                        data-name="Path 7"
                        d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z"
                        fill="#1d1d1d"
                        fill-rule="evenodd"
                      ></path>
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="rounded-lg overflow-hidden">
          <div class="relative overflow-hidden pb-60">
            <img
              class="absolute h-full w-full object-cover object-center"
              src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/5c77d8a62417e4405611bb42_3k-color-1-scaled.jpg"
              alt=""
            />
          </div>
          <div class="relative bg-blue-200">
            <div class="py-10 px-8">
              <h3 class="text-2xl font-bold">Notepad</h3>
              <div class="text-gray-600 text-sm font-medium flex mb-4 mt-2">
                <p>Provided by&nbsp;</p>
                <a
                  href="https://www.ls.graphics/"
                  class="hover:text-black transition duration-300 ease-in-out"
                  >LS Graphics</a
                >
              </div>
              <p class="leading-7">
                High quality notepad mockup in a huge resolution and with
                changeable everything.
              </p>
              <div class="mt-10 flex justify-between items-center">
                <div>
                  <img
                    src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/Ps.svg"
                    alt=""
                    class="w-6"
                  />
                </div>
                <a
                  href="https://collect.criggzdesign.com/index.php/resources/mockups/notepad/"
                  class="flex items-center"
                >
                  <p class="mr-4">Read more</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14.125"
                    height="13.358"
                    viewBox="0 0 14.125 13.358"
                  >
                    <g transform="translate(-3 -3.293)">
                      <path
                        id="Path_7"
                        data-name="Path 7"
                        d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z"
                        fill="#1d1d1d"
                        fill-rule="evenodd"
                      ></path>
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="rounded-lg overflow-hidden">
          <div class="relative overflow-hidden pb-60">
            <img
              class="absolute h-full w-full object-cover object-center"
              src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/5c77d8a62417e4405611bb42_3k-color-1-scaled.jpg"
              alt=""
            />
          </div>
          <div class="relative bg-blue-200">
            <div class="py-10 px-8">
              <h3 class="text-2xl font-bold">Notepad</h3>
              <div class="text-gray-600 text-sm font-medium flex mb-4 mt-2">
                <p>Provided by&nbsp;</p>
                <a
                  href="https://www.ls.graphics/"
                  class="hover:text-black transition duration-300 ease-in-out"
                  >LS Graphics</a
                >
              </div>
              <p class="leading-7">
                High quality notepad mockup in a huge resolution and with
                changeable everything.
              </p>
              <div class="mt-10 flex justify-between items-center">
                <div>
                  <img
                    src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/Ps.svg"
                    alt=""
                    class="w-6"
                  />
                </div>
                <a
                  href="https://collect.criggzdesign.com/index.php/resources/mockups/notepad/"
                  class="flex items-center"
                >
                  <p class="mr-4">Read more</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="14.125"
                    height="13.358"
                    viewBox="0 0 14.125 13.358"
                  >
                    <g transform="translate(-3 -3.293)">
                      <path
                        id="Path_7"
                        data-name="Path 7"
                        d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z"
                        fill="#1d1d1d"
                        fill-rule="evenodd"
                      ></path>
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container max-w-5xl mx-auto mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-2"
    >
      <div>
        <div>
          <div class="relative overflow-hidden pb-60">
            <img
              class="absolute h-full w-full object-cover object-center"
              src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/5c77d8a62417e4405611bb42_3k-color-1-scaled.jpg"
              alt=""
            />
          </div>
          <div class="flex">
            <div
              class="w-20 h-20 bg-yellow-500 flex justify-center items-center flex-col text-white font-bold text-center"
            >
              <p class="text-2xl">14</p>
              <p class="uppercase -mt-1">Jan</p>
            </div>
            <div class="bg-white h-20 flex-grow flex items-center px-4">
              <p class="font-bold text-lg">Läxhjälp</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div class="relative overflow-hidden pb-60">
            <img
              class="absolute h-full w-full object-cover object-center"
              src="https://collect.criggzdesign.com/wp-content/uploads/2020/07/5c77d8a62417e4405611bb42_3k-color-1-scaled.jpg"
              alt=""
            />
          </div>
          <div class="flex">
            <div
              class="w-20 h-20 bg-yellow-500 flex justify-center items-center flex-col text-white font-bold text-center"
            >
              <p class="text-2xl">14</p>
              <p class="uppercase -mt-1">Jan</p>
            </div>
            <div class="bg-white h-20 flex-grow flex items-center px-4">
              <p class="font-bold text-lg">Läxhjälp</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3"
    >
      <div class="rounded-xl bg-gray-800 flex flex-col p-8">
        <div
          class="w-16 h-16 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-4"
        >
          <svg
            class="w-24 h-24"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
            ></path>
          </svg>
        </div>
        <div class="flex-grow text-white">
          <h2 class="text-xl title-font font-medium mb-3">Webdesign</h2>
          <p class="leading-relaxed text-sm text-justify">
            Donner du goût 😍 de la couleur aux applications, je le fais afin de
            rendre vos sites attrayants 🎨. Avant de devenir webdesigner, depuis
            tout petit j'étais déjà familier à la couleur et du dessin.
          </p>
        </div>
      </div>
      <div class="rounded-xl bg-gray-800 flex flex-col p-8">
        <div
          class="w-16 h-16 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-4"
        >
          <svg
            class="w-24 h-24"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
            ></path>
          </svg>
        </div>
        <div class="flex-grow text-white">
          <h2 class="text-xl title-font font-medium mb-3">Webdesign</h2>
          <p class="leading-relaxed text-sm text-justify">
            Donner du goût 😍 de la couleur aux applications, je le fais afin de
            rendre vos sites attrayants 🎨. Avant de devenir webdesigner, depuis
            tout petit j'étais déjà familier à la couleur et du dessin.
          </p>
        </div>
      </div>
      <div class="rounded-xl bg-gray-800 flex flex-col p-8">
        <div
          class="w-16 h-16 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-4"
        >
          <svg
            class="w-24 h-24"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
            ></path>
          </svg>
        </div>
        <div class="flex-grow text-white">
          <h2 class="text-xl title-font font-medium mb-3">Webdesign</h2>
          <p class="leading-relaxed text-sm text-justify">
            Donner du goût 😍 de la couleur aux applications, je le fais afin de
            rendre vos sites attrayants 🎨. Avant de devenir webdesigner, depuis
            tout petit j'étais déjà familier à la couleur et du dessin.
          </p>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto mt-20 grid grid-cols-2 gap-8 md:grid-cols-3 xl:grid-cols-4"
    >
      <div class="">
        <div class="flex flex-row bg-white shadow-sm rounded-xl p-4">
          <div
            class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-blue-100 text-blue-500"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Users</div>
            <div class="font-bold text-lg">1259</div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex flex-row bg-white shadow-sm rounded-xl p-4">
          <div
            class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-green-100 text-green-500"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Orders</div>
            <div class="font-bold text-lg">230</div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex flex-row bg-white shadow-sm rounded-xl p-4">
          <div
            class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-orange-100 text-orange-500"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">New Clients</div>
            <div class="font-bold text-lg">190</div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex flex-row bg-white shadow-sm rounded-xl p-4">
          <div
            class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-red-100 text-red-500"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Revenue</div>
            <div class="font-bold text-lg">$ 32k</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto mt-20 grid grid-cols-2 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <div class="flex flex-col items-center">
        <div
          class="bg-white overflow-hidden rounded-lg w-full relative pb-36"
        >
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="z-10 -mt-12 px-6 w-full">
          <div class="bg-white shadow-lg rounded-lg py-5 px-5">
            <span class="font-bold text-gray-800 text-lg">Geek Pizza</span>
            <div class="flex items-center justify-between">
              <div class="text-sm text-gray-600 font-light">Size : Regular</div>
              <div class="text-2xl text-red-600 font-bold">$ 8.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="bg-white overflow-hidden rounded-lg w-full relative pb-36"
        >
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="z-10 -mt-12 px-6 w-full">
          <div class="bg-white shadow-lg rounded-lg py-5 px-5">
            <span class="font-bold text-gray-800 text-lg">Geek Pizza</span>
            <div class="flex items-center justify-between">
              <div class="text-sm text-gray-600 font-light">Size : Regular</div>
              <div class="text-2xl text-red-600 font-bold">$ 8.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="bg-white overflow-hidden rounded-lg w-full relative pb-36"
        >
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="z-10 -mt-12 px-6 w-full">
          <div class="bg-white shadow-lg rounded-lg py-5 px-5">
            <span class="font-bold text-gray-800 text-lg">Geek Pizza</span>
            <div class="flex items-center justify-between">
              <div class="text-sm text-gray-600 font-light">Size : Regular</div>
              <div class="text-2xl text-red-600 font-bold">$ 8.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="bg-white overflow-hidden rounded-lg w-full relative pb-36"
        >
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="z-10 -mt-12 px-6 w-full">
          <div class="bg-white shadow-lg rounded-lg py-5 px-5">
            <span class="font-bold text-gray-800 text-lg">Geek Pizza</span>
            <div class="flex items-center justify-between">
              <div class="text-sm text-gray-600 font-light">Size : Regular</div>
              <div class="text-2xl text-red-600 font-bold">$ 8.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-2"
    >
      <div class="flex flex-row bg-white rounded-xl overflow-hidden">
        <div class="w-1/3 flex-shrink-0 h-auto overflow-hidden relative">
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="flex-grow p-8 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <p class="text-sm text-grey-dark flex items-center">
              <svg
                class="text-grey w-3 h-3 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
                />
              </svg>
              Members only
            </p>
            <div class="text-black font-bold text-xl mb-2">
              Can coffee make you a better developer?
            </div>
            <p class="text-grey-darker text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
          <div class="flex items-center">
            <img
              class="w-10 h-10 rounded-full mr-4"
              src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
              alt="Avatar of Jonathan Reinink"
            />
            <div class="text-sm">
              <p class="text-black leading-none">Jonathan Reinink</p>
              <p class="text-grey-dark">Aug 18</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row bg-white rounded-xl overflow-hidden">
        <div class="w-1/3 flex-shrink-0 h-auto overflow-hidden relative">
          <img
            src="https://source.unsplash.com/MNtag_eXMKw/1600x900"
            class="absolute h-full w-full object-cover object-center"
            alt=""
          />
        </div>
        <div class="flex-grow p-8 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <p class="text-sm text-grey-dark flex items-center">
              <svg
                class="text-grey w-3 h-3 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
                />
              </svg>
              Members only
            </p>
            <div class="text-black font-bold text-xl mb-2">
              Can coffee make you a better developer?
            </div>
            <p class="text-grey-darker text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatibus quia, nulla! Maiores et perferendis eaque,
              exercitationem praesentium nihil.
            </p>
          </div>
          <div class="flex items-center">
            <img
              class="w-10 h-10 rounded-full mr-4"
              src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
              alt="Avatar of Jonathan Reinink"
            />
            <div class="text-sm">
              <p class="text-black leading-none">Jonathan Reinink</p>
              <p class="text-grey-dark">Aug 18</p>
            </div>
          </div>
        </div>
      </div>
    </div>